body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:70px;
    top:60px;
    width:100px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:70px;
    top:440px;
    width:100px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:60px;
    top:910px;
    width:100px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u6_container {
    position:absolute;
    left:60px;
    top:1370px;
    width:100px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:230px;
    top:60px;
    width:100px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10c0 {
    background-image: url('../Flow_files/u10c0.png');
}

.u10c0 {
    position:absolute;
    left:166px;
    top:80px;
    width:74px;
    height:20px;
}

.u11 {
    position:absolute;
    left:-20px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u12_container {
    position:absolute;
    left:400px;
    top:60px;
    width:100px;
    height:60px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14c0 {
    background-image: url('../Flow_files/u14c0.png');
}

.u14c0 {
    position:absolute;
    left:326px;
    top:80px;
    width:84px;
    height:20px;
}

.u15 {
    position:absolute;
    left:-15px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:590px;
    top:60px;
    width:100px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18c0 {
    background-image: url('../Flow_files/u18c0.png');
}

.u18c0 {
    position:absolute;
    left:496px;
    top:80px;
    width:104px;
    height:20px;
}

.u19 {
    position:absolute;
    left:-5px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20c0 {
    background-image: url('../Flow_files/u20c0.png');
}

.u20c0 {
    position:absolute;
    left:270px;
    top:116px;
    width:20px;
    height:74px;
}

.u21 {
    position:absolute;
    left:-50px;
    top:22px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u22_container {
    position:absolute;
    left:230px;
    top:180px;
    width:100px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u24_container {
    position:absolute;
    left:400px;
    top:180px;
    width:100px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26c0 {
    background-image: url('../Flow_files/u26c0.png');
}

.u26c0 {
    position:absolute;
    left:326px;
    top:200px;
    width:84px;
    height:20px;
}

.u27 {
    position:absolute;
    left:-15px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u28_container {
    position:absolute;
    left:70px;
    top:180px;
    width:100px;
    height:60px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u29 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30c0 {
    background-image: url('../Flow_files/u30c0.png');
}

.u30c0 {
    position:absolute;
    left:160px;
    top:200px;
    width:74px;
    height:20px;
}

.u31 {
    position:absolute;
    left:-80px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32c0 {
    background-image: url('../Flow_files/u32c0.png');
}

.u32c0 {
    position:absolute;
    left:630px;
    top:116px;
    width:20px;
    height:154px;
}

.u32c1 {
    background-image: url('../Flow_files/u32c1.png');
}

.u32c1 {
    position:absolute;
    left:270px;
    top:250px;
    width:380px;
    height:20px;
}

.u32c2 {
    background-image: url('../Flow_files/u32c2.png');
}

.u32c2 {
    position:absolute;
    left:270px;
    top:236px;
    width:20px;
    height:34px;
}

.u33 {
    position:absolute;
    left:-170px;
    top:132px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u34_container {
    position:absolute;
    left:240px;
    top:440px;
    width:100px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u36_container {
    position:absolute;
    left:240px;
    top:560px;
    width:100px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u38_container {
    position:absolute;
    left:400px;
    top:440px;
    width:100px;
    height:60px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40c0 {
    background-image: url('../Flow_files/u40c0.png');
}

.u40c0 {
    position:absolute;
    left:166px;
    top:460px;
    width:84px;
    height:20px;
}

.u41 {
    position:absolute;
    left:-15px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42c0 {
    background-image: url('../Flow_files/u42c0.png');
}

.u42c0 {
    position:absolute;
    left:336px;
    top:460px;
    width:74px;
    height:20px;
}

.u43 {
    position:absolute;
    left:-20px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44c0 {
    background-image: url('../Flow_files/u44c0.png');
}

.u44c0 {
    position:absolute;
    left:280px;
    top:496px;
    width:20px;
    height:74px;
}

.u45 {
    position:absolute;
    left:-50px;
    top:22px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46c0 {
    background-image: url('../Flow_files/u46c0.png');
}

.u46c0 {
    position:absolute;
    left:336px;
    top:580px;
    width:124px;
    height:20px;
}

.u46c1 {
    background-image: url('../Flow_files/u46c1.png');
}

.u46c1 {
    position:absolute;
    left:440px;
    top:496px;
    width:20px;
    height:104px;
}

.u47 {
    position:absolute;
    left:50px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u48_container {
    position:absolute;
    left:590px;
    top:440px;
    width:100px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50c0 {
    background-image: url('../Flow_files/u50c0.png');
}

.u50c0 {
    position:absolute;
    left:496px;
    top:460px;
    width:104px;
    height:20px;
}

.u51 {
    position:absolute;
    left:-5px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u52_container {
    position:absolute;
    left:770px;
    top:440px;
    width:100px;
    height:60px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54c0 {
    background-image: url('../Flow_files/u54c0.png');
}

.u54c0 {
    position:absolute;
    left:686px;
    top:460px;
    width:94px;
    height:20px;
}

.u55 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56c0 {
    background-image: url('../Flow_files/u56c0.png');
}

.u56c0 {
    position:absolute;
    left:630px;
    top:496px;
    width:20px;
    height:74px;
}

.u57 {
    position:absolute;
    left:-50px;
    top:22px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u58_container {
    position:absolute;
    left:240px;
    top:910px;
    width:100px;
    height:60px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u59 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60c0 {
    background-image: url('../Flow_files/u60c0.png');
}

.u60c0 {
    position:absolute;
    left:156px;
    top:930px;
    width:94px;
    height:20px;
}

.u61 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u62_container {
    position:absolute;
    left:240px;
    top:800px;
    width:100px;
    height:60px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u63 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64c0 {
    background-image: url('../Flow_files/u64c0.png');
}

.u64c0 {
    position:absolute;
    left:280px;
    top:850px;
    width:20px;
    height:64px;
}

.u65 {
    position:absolute;
    left:-50px;
    top:-33px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u66_container {
    position:absolute;
    left:430px;
    top:910px;
    width:100px;
    height:60px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u67 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68c0 {
    background-image: url('../Flow_files/u68c0.png');
}

.u68c0 {
    position:absolute;
    left:336px;
    top:930px;
    width:104px;
    height:20px;
}

.u69 {
    position:absolute;
    left:-5px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u70_container {
    position:absolute;
    left:610px;
    top:1370px;
    width:100px;
    height:60px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u71 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u72_container {
    position:absolute;
    left:430px;
    top:1040px;
    width:100px;
    height:60px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u73 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74c0 {
    background-image: url('../Flow_files/u74c0.png');
}

.u74c0 {
    position:absolute;
    left:470px;
    top:966px;
    width:20px;
    height:84px;
}

.u75 {
    position:absolute;
    left:-50px;
    top:27px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u76_container {
    position:absolute;
    left:590px;
    top:680px;
    width:100px;
    height:60px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u77 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u78_container {
    position:absolute;
    left:590px;
    top:560px;
    width:100px;
    height:60px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u79 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80c0 {
    background-image: url('../Flow_files/u80c0.png');
}

.u80c0 {
    position:absolute;
    left:630px;
    top:616px;
    width:20px;
    height:74px;
}

.u81 {
    position:absolute;
    left:-50px;
    top:22px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u82_container {
    position:absolute;
    left:770px;
    top:560px;
    width:100px;
    height:60px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u83 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84c0 {
    background-image: url('../Flow_files/u84c0.png');
}

.u84c0 {
    position:absolute;
    left:686px;
    top:580px;
    width:94px;
    height:20px;
}

.u85 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86c0 {
    background-image: url('../Flow_files/u86c0.png');
}

.u86c0 {
    position:absolute;
    left:810px;
    top:616px;
    width:20px;
    height:104px;
}

.u86c1 {
    background-image: url('../Flow_files/u86c1.png');
}

.u86c1 {
    position:absolute;
    left:686px;
    top:700px;
    width:144px;
    height:20px;
}

.u87 {
    position:absolute;
    left:-70px;
    top:82px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88c0 {
    background-image: url('../Flow_files/u88c0.png');
}

.u88c0 {
    position:absolute;
    left:810px;
    top:490px;
    width:20px;
    height:74px;
}

.u89 {
    position:absolute;
    left:-50px;
    top:-38px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u90_container {
    position:absolute;
    left:240px;
    top:1370px;
    width:100px;
    height:60px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u91 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u92_container {
    position:absolute;
    left:240px;
    top:1250px;
    width:100px;
    height:60px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u93 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94c0 {
    background-image: url('../Flow_files/u94c0.png');
}

.u94c0 {
    position:absolute;
    left:280px;
    top:1300px;
    width:20px;
    height:74px;
}

.u95 {
    position:absolute;
    left:-50px;
    top:-38px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96c0 {
    background-image: url('../Flow_files/u96c0.png');
}

.u96c0 {
    position:absolute;
    left:156px;
    top:1390px;
    width:94px;
    height:20px;
}

.u97 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u98_container {
    position:absolute;
    left:440px;
    top:1370px;
    width:100px;
    height:60px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u99 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100c0 {
    background-image: url('../Flow_files/u100c0.png');
}

.u100c0 {
    position:absolute;
    left:336px;
    top:1390px;
    width:114px;
    height:20px;
}

.u101 {
    position:absolute;
    left:0px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102c0 {
    background-image: url('../Flow_files/u102c0.png');
}

.u102c0 {
    position:absolute;
    left:536px;
    top:1390px;
    width:84px;
    height:20px;
}

.u103 {
    position:absolute;
    left:-15px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u104_container {
    position:absolute;
    left:440px;
    top:1510px;
    width:100px;
    height:60px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u105 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106c0 {
    background-image: url('../Flow_files/u106c0.png');
}

.u106c0 {
    position:absolute;
    left:480px;
    top:1426px;
    width:20px;
    height:94px;
}

.u107 {
    position:absolute;
    left:-50px;
    top:32px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u108_container {
    position:absolute;
    left:610px;
    top:910px;
    width:100px;
    height:60px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u109 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110c0 {
    background-image: url('../Flow_files/u110c0.png');
}

.u110c0 {
    position:absolute;
    left:526px;
    top:930px;
    width:94px;
    height:20px;
}

.u111 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u112_container {
    position:absolute;
    left:60px;
    top:1780px;
    width:100px;
    height:60px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u113 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u114_container {
    position:absolute;
    left:610px;
    top:1780px;
    width:100px;
    height:60px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u115 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u116_container {
    position:absolute;
    left:240px;
    top:1780px;
    width:100px;
    height:60px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u117 {
    position:absolute;
    left:2px;
    top:14px;
    width:96px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u118_container {
    position:absolute;
    left:240px;
    top:1660px;
    width:100px;
    height:60px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u119 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120c0 {
    background-image: url('../Flow_files/u120c0.png');
}

.u120c0 {
    position:absolute;
    left:280px;
    top:1710px;
    width:20px;
    height:74px;
}

.u121 {
    position:absolute;
    left:-50px;
    top:-38px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122c0 {
    background-image: url('../Flow_files/u122c0.png');
}

.u122c0 {
    position:absolute;
    left:156px;
    top:1800px;
    width:94px;
    height:20px;
}

.u123 {
    position:absolute;
    left:-10px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Flow_files/u8_normal.png');
}

.u124_container {
    position:absolute;
    left:440px;
    top:1780px;
    width:100px;
    height:60px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u125 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126c0 {
    background-image: url('../Flow_files/u126c0.png');
}

.u126c0 {
    position:absolute;
    left:336px;
    top:1800px;
    width:114px;
    height:20px;
}

.u127 {
    position:absolute;
    left:0px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128c0 {
    background-image: url('../Flow_files/u128c0.png');
}

.u128c0 {
    position:absolute;
    left:536px;
    top:1800px;
    width:84px;
    height:20px;
}

.u129 {
    position:absolute;
    left:-15px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Flow_files/u0_normal.png');
}

.u130_container {
    position:absolute;
    left:440px;
    top:1920px;
    width:100px;
    height:60px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u131 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132c0 {
    background-image: url('../Flow_files/u132c0.png');
}

.u132c0 {
    position:absolute;
    left:480px;
    top:1836px;
    width:20px;
    height:94px;
}

.u133 {
    position:absolute;
    left:-50px;
    top:32px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134c0 {
    background-image: url('../Flow_files/u134c0.png');
}

.u134c0 {
    position:absolute;
    left:650px;
    top:1836px;
    width:20px;
    height:124px;
}

.u134c1 {
    background-image: url('../Flow_files/u134c1.png');
}

.u134c1 {
    position:absolute;
    left:536px;
    top:1940px;
    width:134px;
    height:20px;
}

.u135 {
    position:absolute;
    left:-55px;
    top:102px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

