* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u4_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u16_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u18_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Content_files/u22_normal.png");
}

