body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Settings_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:429px;
    height:839px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:429px;
    height:839px;
}

.u1 {
    position:absolute;
    left:2px;
    top:412px;
    width:425px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Settings_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:34px;
    top:105px;
    width:360px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:25px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Settings_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:34px;
    top:699px;
    width:360px;
    height:48px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:360px;
    height:48px;
}

.u5 {
    position:absolute;
    left:2px;
    top:16px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Settings_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:34px;
    top:129px;
    width:360px;
    height:570px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:576px;
}

.u7 {
    position:absolute;
    left:2px;
    top:277px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Settings_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:34px;
    top:129px;
    width:360px;
    height:570px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:576px;
}

.u9 {
    position:absolute;
    left:2px;
    top:277px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:54px;
    top:192px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../Settings_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:331px;
    height:3px;
}

.u11 {
    position:absolute;
    left:45px;
    top:208px;
    width:331px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:53px;
    top:227px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:53px;
    top:276px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:53px;
    top:325px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_line {
    background-image: url('../Settings_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u15 {
    position:absolute;
    left:46px;
    top:355px;
    width:330px;
    height:10px;
    
}

.u16_line {
    background-image: url('../Settings_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u16 {
    position:absolute;
    left:46px;
    top:307px;
    width:330px;
    height:10px;
    
}

.u17_line {
    background-image: url('../Settings_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u17 {
    position:absolute;
    left:46px;
    top:258px;
    width:330px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:54px;
    top:383px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Settings_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:331px;
    height:3px;
}

.u19 {
    position:absolute;
    left:45px;
    top:398px;
    width:331px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:53px;
    top:417px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:54px;
    top:440px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:53px;
    top:482px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:54px;
    top:505px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:53px;
    top:547px;
    width:270px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:54px;
    top:570px;
    width:300px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../Settings_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u26 {
    position:absolute;
    left:46px;
    top:463px;
    width:330px;
    height:10px;
    
}

.u27_line {
    background-image: url('../Settings_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u27 {
    position:absolute;
    left:46px;
    top:528px;
    width:330px;
    height:10px;
    
}

.u28_line {
    background-image: url('../Settings_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:330px;
    height:3px;
}

.u28 {
    position:absolute;
    left:46px;
    top:593px;
    width:330px;
    height:10px;
    
}

.u29_normal {
    background-image: url('../Settings_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:34px;
    top:129px;
    width:360px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Settings_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:52px;
    top:137px;
    width:30px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Settings_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:363px;
    top:141px;
    width:6px;
    height:22px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:22px;
}

.u34 {
    position:absolute;
    left:2px;
    top:3px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Settings_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:38px;
    top:145px;
    width:7px;
    height:14px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:14px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-1px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

